/*  ?=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

/* ?=============== UITYLITY CLASSES ===============*/

.body-container {
  width: 100%;
  height: 100vh;
  background-color: rgb(89, 25, 95);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ?================ MAIN CODINGS ===============*/

.generator {
  width: 40rem;
  height: fit-content;
  background-color: rgb(48, 10, 51);
  padding: 2rem;
  border-radius: 1rem;
  color: white;
  margin: 2rem;
}

#font {
  font-weight: 500;
  color: rgb(158, 126, 153);
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(182, 162, 201);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.top-display {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.top-display input {
  width: 100%;
  height: 4rem;
  background-color: #fff;
  border-radius: 0.5rem;
  font-size: 2rem;
  padding: 0.5rem;
  font-family: inherit;
  color: black;
  font-weight: 500;
  border: none;
  outline: none;
}

.copy {
  height: 100%;
  border-radius: 0.5rem;
  padding: 0.8rem;
  font-weight: 500;
  background-color: rgb(134, 40, 130);
  color: white;
  cursor: pointer;
  transition: 300ms;
}
.copy:hover {
  height: 100%;
  border-radius: 0.5rem;
  padding: 0.8rem;
  font-weight: 500;
  background-color: rgb(142, 70, 151);

  cursor: pointer;
}

ul {
  width: 100%;
  margin-top: 2rem;
}

li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 300;
  color: rgb(245, 245, 245);
  letter-spacing: 0.1rem;
}

ul li input {
  padding: 0.5rem;
  width: 1.8rem;
}

#length {
  width: 8rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 0.3rem;
  font-size: 1.8rem;
  padding: 0.5rem;
  font-family: inherit;
  color: black;
  font-weight: 400;
  border: none;
  outline: none;
}

.generate-button {
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-weight: 500;
  margin-top: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: rgb(94, 28, 90);
  color: white;
  transition: 300ms;
}

.generate-button:hover {
  background-color: rgb(142, 70, 151);
}
